*.pyc
/.vs
/build
/build-ios

**/.DS_Store

CMake*.json
.idea
python/build/
python/ctranslate2.egg-info/
python/ctranslate2/*.so
python/ctranslate2/*.dylib
python/dist/
/dist
.cache
docs/build/
docs/python/

.claude/
tools/benchmark/whisper_fleurs/results_backup/
