*.pyc
/.vs
/build

**/.DS_Store

CMake*.json
.idea
python/build/
python/ctranslate2.egg-info/
python/ctranslate2/*.so
python/dist/
.cache
docs/build/
docs/python/

.claude/
tools/benchmark/whisper_fleurs/results_backup/
